.header {
    background: #ffffff;
    width: 100%;
    border-bottom-style: solid;
    border-bottom: solid #dddddd;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.header-title {
    background: #4aaaa5;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.a-group {
    float: right;
    font-family: Arial, 'Helvetica nue', Helvetica, sans-serif;
    padding-right: 150px;
    padding-top: 30px;
    color: #777777;
}

a {
    color: #777777;
    text-decoration: none;
}

.bio-title {
    color: #4aaaa5;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid lightgray;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

#main-bio, #bio-image {
    float: left;
}

#bio-image {
    margin-left: 20px;
    height: 215px;
}

.main-bio {
    font-family: Arial, 'Helvetica nuue', Helvetica, sans-serif;
    color: #777777;
    padding-left: 20px;
    padding-right: 20px;
    
}

#bio-image {
    margin-right: 20px;
  
}

.footer {
    clear: both;
    text-align: center;
}

.container-1 {
    background: #ffffff;
    padding: 0px 20px;
    padding-left: 150px;
    border-bottom: 20px;
    color: #333;
    font-family: Arial, 'Helvetica nue', Helvetica, sans-serif;
}
.container-3 {
    background: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 8px solid #4aaaa5;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px; 
    color: #ffffff;
}

.container-2 {
    background: #ffffff;
    clear: both;
    border: solid #dddddd;
    margin-top: 25px;
}

.clearfix::after {
    content: '';
    clear:both;
    display:table;
}
.background-image {
    background-image: url(../images/memphis-mini.png);
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
}
